

/* To change the background to black, change font to white, change font family*/
* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
  
}


/* To remove the underline from the links  */
a {
    text-decoration: none;
    text-align: center;
  }


h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipes{
    display: flex;
    flex-direction: horizontal; 
    justify-content: space-around;
    margin-top: 100px;
    border: 2px solid;
    border-color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;

}

* {
    box-sizing: border-box;
}

.image-size {
    width: 300px;
    height: 200px
}

.egusi,
.afang,
.edikang-ikong {
    display: flex;
    flex-direction: column;
}